.background {
    visibility: visible !important;
}

.extent {
    visibility: visible !important;
    fill: #c200a3;
}

.resize rect {
    visibility: visible !important;
    fill: #64e098;
    display: block;
}